*{
  margin: 0;
  padding: 0;
}

.header {
  font-size: 2.5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15vh;
  background-color: #052957;
  clear: both;
}

.header_font {
  font-family: 'Roboto Slab', serif;
  color: white;
}

#title {
  font-style: normal;
  font-weight: normal;
  font-size: 8vh;
  line-height: 140%;

}

#subtitle {

  font-style: normal;
  font-weight: normal;
  font-size: 3vh;
  line-height: 140%;

}

.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 23vw;
}

#input {
  padding-left: 1vw;
  font-size: 2.5vh;
  height: 6vh;
  width: 20vw;
  border: 1px solid #052957;
  box-sizing: border-box;
  border-radius: 7px;
  color: black;
}

#input_img {
  height: 4vh;
}

.btn {
  font-size: 3vh;
  width: 8vw;
  height: 6vh;
  color: #052957;
  background: #EEA243;
  border: none;
  box-sizing: border-box;
  border-radius: 100px;
  cursor: pointer;
}

#banner-sobre-nos{
  background-image: url("img/background_index.svg");
  width: 70%;
  height: 49vh;
  margin: 0 auto;
}

#texto-banner{
  font-size: 3vh;
  text-align: center;
  margin: 0 auto;
  padding: 160px;
  color: rgb(70, 70, 70);
}

#container-left{
  display: inline;
  background-color: rgb(16, 70, 139);
  float: left;
  margin-left: 203px;
  width: 30%;
  height: 900px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

#text-1{
  font-size: 2.5vh;
  text-align: center;
  margin: 0 auto;
  width: 110px;
  color: white;
  padding: 50px;
}

#text-2 {
  font-size: 2.5vh;
  text-align: center;
  margin: 0 auto;
  width: 110px;
  color: white;
  padding: 60px;
}

#text-3 {
  font-size: 2.5vh;
  text-align: center;
  margin: 0 auto;
  width: 150px;
  color: white;
  padding: 30px;
}


#container-right{
  float: right;
  width: 31%;
  height: 860px;
  margin-right: 203px;
  padding-top: 40px;
}

#coding{
  margin-top: 200px;
  float: right;
  width: 60px;
  height: 60px;
}

#img1{
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

#front{
  margin-top: 200px;
  width: 60px;
  height: 60px;
}

#img2{
  width: 60px;
  height: 60px;
  margin-left: 15px;
}

#backend{
  margin-top: 200px;
  width: 60px;
  height: 60px;
}

#img3{
  width: 60px;
  height: 60px;
  margin-top: 70px;
  margin-left: 20px;
}

#ux{
  float: right;
  width: 60px;
  height: 60px;
}

#img4{
  width: 60px;
  height: 60px;
}



#container-bottom{
  padding-top: 60px;
  height: 30px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  clear: both;
}

#colaboradores{
  margin-top: 80px;
  width: 70%;
  height: 600px;
  margin-left: 203px;
}

#fotos{
  width: 70%;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
  height: 500px;
}

.user{
  width: 250px;
  height: 100px;
  border-radius: 50px;
  float: left;
  text-align: center;

}

.fotodiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}


#footer{
  width: 100%;
  height: 210px;
  color: white;
  background-color: rgb(34, 36, 39);
  text-align: center;
  clear: both;
}


/* .card-left{
  text-align: center;
  height: 350px;
  width: 30%;
  float: left;
}

.card-right{
  text-align: center;
  width: 23%;
  height: 350px;
  float: right;
} */