*{
    margin: 0;
    padding: 0;
    background-color: #FBFBF2;
}

body{
    margin: 120px;
    width: auto;
    text-align: center;
    margin: 0;
    padding: 0;
}

#header{
    max-width: 100%;
    height: 13vh;
    padding-top: 20px;  
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: 2px #eea1436b solid;
}

#viden{
    float: left;
    font-size: 36px;
    line-height: 140%;
    width: 241px;
    height: 98px;
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size:68px;
    line-height: 140%;
    color: #EEA243;
}


#menu-bar{
    display: flex;
    float: right;
    justify-content: space-between;
    align-items: center;
    height: 98px;
    font-weight: 400;
    font-size: 36px;
    font-family: Sen;
    width: 50%;
}

#menu-bar li{
    display: inline-block;
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 140%;
    color: rgba(64, 64, 64, 0.65);
}

#container_left{
    display: inline;
    float: left;
    width: 550px;
    height: 50px;
    padding-left: 120px;
    margin-top: 300px;
    text-align: justify;
    font-size: 16pt;
}

#saiba_mais{
    width: 32%;
    margin-top: 40px;
    height: 50px;
    border: 2px white solid;
    border-radius: 12px;
    font-size: 12pt;
    text-align: center;
    margin-left: 32%;
    background-color: none;
}

#container_right{
    width: 30%;
    margin-top: 100px;
    margin-right: 200px;
    height: 270px;
    border-radius: 26px;
    float: right;
    text-align: center;
    color: #EEA243;
    padding-top: 12%;
    font-size: 26pt;
    background-color: white;
}

#viden_text{
    background-color: white;
}

.efeitoBtn{
    padding: 8px;
    margin: 8px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 400ms ease;
}

.efeitoBtn:hover{
    background-color: #EEA243;
}
