/* GLOBAL */

.root_sign {
    display: flex;
}

.opcoes {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    height: 30vh;
}

#sign {
    font-style: normal;
    font-weight: bold;
    line-height: 140%;
    color: #EEA243;
    transition: transform 250ms;
    cursor: pointer;
    padding-top: 1vh;
}

#sign:hover {
    transform: translateY(-10px);
}

#titulo {
    font-style: normal;
    font-weight: normal;
    font-size: 15vh;
    line-height: 140%;
}

#subtitulo {
    color: #747C81;
    height: 18vh;
    text-align: center;
    font-size: 8vh;
    line-height: 140%;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 100vh;
}

.input_conf {
    transition: all .3s;
}

.input_conf:focus-within {
    transform: scale(1.05,1.05);
}

.label_input {
    display: flex;
    width: 25vw;
    align-items: center;
    justify-content: space-between;
}

#placeholder_label {
    color: #747C81;
    font-size: 2.5vh;
    display: block;
    opacity: 1;
    transform: translateX(0.5em) translateY(-1.9em);
    transform-origin: 0 0;
    transition: all .3s;
}

#input {
    box-shadow: none;
    padding-left: 0.5em;
    font-size: 2.5vh;
    height: 6vh;
    width: 20vw;
    border-radius: 0px;
    border-color: #747C81;
    border-style: none none solid none;
    box-sizing: border-box;
    color: black;
    transition: all .5s;
}

#input::placeholder{
    color: transparent;
}

#input:focus {
    box-shadow: none;
    outline: none;
}

#input:focus {
    box-shadow: none;
    outline: none;
    border-color: #052957;
}

#input:focus + #placeholder_label,
#input:not(:placeholder-shown) + #placeholder_label
{
    transform: translateY(-3.3em) scale(.8);
}


#img {
    height: 7vh;
}

.botao_sign {
    font-size: 4vh;
    width: 15vw;
    height: 6vh;
    color: white;
    background: #EEA243;
    border: none;
    box-sizing: border-box;
    border-radius: 100px;
    transition: transform 250ms;
    cursor: pointer;
}

.botao_sign:hover {
    transform: translateY(-10px);
    background-color: #052957;
}

/* LOGIN */

.header_login {
    font-size: 2.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 100vh;
    background-color: #052957;
    border-radius: 0px 75px 16px 0px;
}

.form_inputs_login {
    display: flex;
    height: 45vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* CADASTRO */

.header_cadastro {
    font-size: 2.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 100vh;
    background-color: #052957;
    border-radius: 75px 0px 0px 16px;
}

.form_inputs_cadastro {
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}