.root_TelaVideo{
    display: flex;
    flex-direction: column;
}

.header_TelaVideo{
    font-family: 'Roboto Slab', serif;
    font-size: 2.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #000000;
    clear: both;
}

.search_TelaVideo{
    display: flex;
    align-items: center;
    width: 23vw;
}

#TelaVideo_text{
    color: white;
    cursor: pointer;
}

#img_perfil{
    width: 50px;
    cursor: pointer;
}


#btn_sair {
    font-size: 2.5vh;
    font-family: 'Roboto Slab', serif;
    color: white;
    cursor: pointer;
}

.container_video{
    width: 100%;
    height: 541px;
    display: flex;
}

.videoPlayer{
    margin-top: 10px;
    width: 75%;
    height: 520px;
    align-items: center;
}

.videoPlayer iframe{
    width:100%;
    height:100%;
}

.aulas_right{
    font-family: 'Roboto-slab', serif;
    margin-left: 10px;
    width: 25%;
    float: right;
    height: 500px;
}

.descricao_aulas h2 {
    font-size: 5.5vh;
    justify-content: center;
    text-align: center;
    width: 30%;
    font-family: "Roboto-slab", serif;
}

.descricao_aulas h4 {
    font-size: 3vh;
    text-align: left;
    width: 40%;
    font-family: "Roboto-slab", serif;
    margin-left: 80px;
}


#aula_1{
    border: black 1px solid;
    padding: 3px;
}

#aula_2{
    border: black 1px solid;
    padding: 3px;
}

#aula_3{
    border: black 1px solid;
    padding: 3px;
}

#aula_4{
    border: black 1px solid;
    padding: 3px;
}