<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.viden">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Viden">
        <activity
            android:name=".TermosDeUso"
            android:exported="true" />
        <activity
            android:name=".ConcluirCurso"
            android:exported="true" />
        <activity
            android:name=".TrilhaCurso"
            android:exported="true" />
        <activity
            android:name=".VideoCurso"
            android:exported="true" />
        <activity
            android:name=".MeusCursosCurso"
            android:exported="true" />
        <activity
            android:name=".MeusCursos"
            android:exported="true" />
        <activity
            android:name=".Pesquisa"
            android:exported="true" />
        <activity
            android:name=".RedesSociais"
            android:exported="true" />
        <activity
            android:name=".SobreNos"
            android:exported="true" />
        <activity
            android:name=".MeusDados"
            android:exported="true" />
        <activity
            android:name=".MinhaConta"
            android:exported="true" />
        <activity
            android:name=".LoginSenha"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Cadastro"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>